<h5>Table</h5>
<p-table #dt1 [value]="customers" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers p-datatable-gridlines"
  [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [globalFilterFields]="['name','country.name','representative.name','status']">

  <ng-template pTemplate="header">
    <tr>

      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Nota Fiscal
          <p-columnFilter field="representative" matchMode="in" display="menu" [showMatchModes]="false"
            [showOperator]="false" [showAddButton]="false">

            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect [ngModel]="value" [options]="representatives" placeholder="Any"
                (onChange)="filter($event.value)" optionLabel="name">

                <ng-template let-option pTemplate="item">
                  <div class="p-multiselect-representative-option">
                    <span class="p-ml-1">{{option.name}}</span>
                  </div>
                </ng-template>

              </p-multiSelect>
            </ng-template>

          </p-columnFilter>
        </div>
      </th>


      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Fornecedor

          <p-columnFilter field="fornecedor" matchMode="in" display="menu" [showMatchModes]="false"
            [showOperator]="false" [showAddButton]="false">

            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect [ngModel]="value" [options]="fornecedor" placeholder="Any"
                (onChange)="filter($event.value)">

                <ng-template let-option pTemplate="item">
                  <div class="p-multiselect-statuses-option">
                    <span class="p-ml-1">{{option.name}}</span>
                  </div>
                </ng-template>

              </p-multiSelect>
            </ng-template>

          </p-columnFilter>
        </div>
      </th>

      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Status

          <p-columnFilter field="status" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false"
            [showAddButton]="false">

            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect [ngModel]="value" [options]="statuses" placeholder="Any" (onChange)="filter($event.value)">

                <ng-template let-option pTemplate="item">
                  <div class="p-multiselect-statuses-option">
                    <span class="p-ml-1">{{option.label}}</span>
                  </div>
                </ng-template>

              </p-multiSelect>
            </ng-template>

          </p-columnFilter>
        </div>
      </th>
    </tr>

  </ng-template>

  <ng-template pTemplate="body" let-customer>
    <tr>
      <td>
        <span class="image-text">{{customer.representative.name}}</span>
      </td>

      <td>
        {{customer.fornecedor}}
      </td>

      <td>
        <span [class]="'customer-badge status-' + customer.status">{{customer.status}}</span>
      </td>

    </tr>

  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="7">No customers found.</td>
    </tr>
  </ng-template>
</p-table>